In [7]:
import modin.pandas as pd
import os 
#os.environ["MODIN_ENGINE"] = "dask"

## Reading CSV to analyze data

In [8]:
df_trips = pd.read_csv('../data/trips.csv')
df_trips.head()

UserWarning: Ray execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe operations:

    import ray
    ray.init()

UserWarning: The size of /dev/shm is too small (33333297152 bytes). The required size at least half of RAM (33710962688 bytes). Please, delete files in /dev/shm or increase size of /dev/shm with --shm-size in Docker. Also, you can set the required memory size for each Ray worker in bytes to MODIN_MEMORY environment variable.

,region,origin_coord,destination_coord,datetime,datasource
0,Prague,POINT (14.4973794438195 50.00136875782316),POINT (14.43109483523328 50.04052930943246),2018-05-28 09:03:40,funny_car
1,Turin,POINT (7.672837913286881 44.9957109242058),POINT (7.720368637535126 45.06782385393849),2018-05-21 02:54:04,baba_car
2,Prague,POINT (14.32427345662177 50.00002074358429),POINT (14.47767895969969 50.09339790740321),2018-05-13 08:52:25,cheap_mobile
3,Turin,POINT (7.541509189114433 45.09160503827746),POINT (7.74528653441973 45.02628598341506),2018-05-06 09:49:16,bad_diesel_vehicles
4,Turin,POINT (7.614078119815749 45.13433106465422),POINT (7.527497142312585 45.03335051325654),2018-05-23 12:45:54,pt_search_app

## Get latitude and longitude from origin_coord and destination_coord

In [9]:
df_trips["origin_coord_lat"] = df_trips["origin_coord"].str.replace("POINT|[()]", "", regex=True).str.split(" ").apply(lambda x: x[1])
df_trips["origin_coord_lng"] = df_trips["origin_coord"].str.replace("POINT|[()]", "", regex=True).str.split(" ").apply(lambda x: x[2])
df_trips["destination_coord_lat"] = df_trips["destination_coord"].str.replace("POINT|[()]", "", regex=True).str.split(" ").apply(lambda x: x[1])
df_trips["destination_coord_lng"] = df_trips["destination_coord"].str.replace("POINT|[()]", "", regex=True).str.split(" ").apply(lambda x: x[2])

In [10]:
df_trips.head()

,region,origin_coord,destination_coord,datetime,datasource,origin_coord_lat,origin_coord_lng,destination_coord_lat,destination_coord_lng
0,Prague,POINT (14.4973794438195 50.00136875782316),POINT (14.43109483523328 50.04052930943246),2018-05-28 09:03:40,funny_car,14.4973794438195,50.00136875782316,14.43109483523328,50.04052930943246
1,Turin,POINT (7.672837913286881 44.9957109242058),POINT (7.720368637535126 45.06782385393849),2018-05-21 02:54:04,baba_car,7.672837913286881,44.9957109242058,7.720368637535126,45.06782385393849
2,Prague,POINT (14.32427345662177 50.00002074358429),POINT (14.47767895969969 50.09339790740321),2018-05-13 08:52:25,cheap_mobile,14.32427345662177,50.00002074358429,14.47767895969969,50.09339790740321
3,Turin,POINT (7.541509189114433 45.09160503827746),POINT (7.74528653441973 45.02628598341506),2018-05-06 09:49:16,bad_diesel_vehicles,7.541509189114433,45.09160503827746,7.74528653441973,45.02628598341506
4,Turin,POINT (7.614078119815749 45.13433106465422),POINT (7.527497142312585 45.03335051325654),2018-05-23 12:45:54,pt_search_app,7.614078119815749,45.13433106465422,7.527497142312585,45.03335051325654

In [ ]:
import csv


with ()